fastapi==0.103.1
uvicorn[standard]==0.23.2
motor==3.3.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
opencv-python==4.8.0.76
mediapipe>=0.10.30
python-multipart==0.0.6
websockets==11.0.3
python-dotenv==1.0.0
email-validator
